*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fffcff;
}

#title {
    font-size: 50px;
    text-align: center;
    color: #030303;   
}

.parent{
    display: flex;
}
.child {
    margin: auto;
}
fieldset {
    border: none;
}

.legenda {
    font-size: 25px;
    color: #030303;
}
.dados {
    height: 20px;
    width: 500px;
    font-size: 20px; 
    border-radius: 5px;
    
}
#opcoes{
    height: 25px;
    width: 200px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
    
}
#areatext {
    border-radius: 5px;
   
}
#btn {
    margin-top: 5px;
    height: 50px;
    width: 150px;
    font-size: 20px ;
    background-color: #71b578;
    border-radius: 5px;
}
